* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Luina {
  text-align: center;
  margin-bottom: 30px;
}
.Luina .luina img rotate-center {
  width: 100%;
  height: auto;
}



.nav ul {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav ul .li {
  list-style-type: none;
  /*margin: 0px 50px 0px 50px;*/
}
.nav ul .li a {
  text-decoration: none;
  color: purple;
  font-weight: bold;
}

.main {
  text-align: center;
  margin-top: 40px;
  width: 100vw;
}
.main .main img {
  width: 100vw;
}
.main .titulo h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: palevioletred;
  color: white;
}
.main .productos {
  display: flex;
  text-align: center;
  justify-content: space-around;
}
.main .postre {
  width: 33%;
  max-width: 30vw;
  height: auto;
}
.main .postre img {
  width: 100%;
  height: auto;
}
.main .postre:hover {
  transform: scale(1.05);
}
.main .postre p {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: palevioletred;
  color: white;
}
.main .titulo h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: palevioletred;
  color: white;
}

.footer {
  background-color: purple;
  padding: 40px 0;
  margin-top: 20px;
}
.footer .footer-column {
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 0 15%;
}
.footer .footer-links {
  padding: 0 15px;
}
.footer .footer-links a:hover {
  text-decoration: underline;
}
.footer .footer-links li {
  list-style-type: none;
}
.footer .footer-links h2 {
  font-size: medium;
  color: white;
  margin-bottom: 25px;
  font-weight: 500;
  border-bottom: 2 px white;
  padding-bottom: 10px;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.footer .footer-links a {
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.footer .fa-facebook {
  width: 100px;
  height: 100px;
}

.luina-nosotros h2 {
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px 0 20px 10px;
}
.luina-nosotros h2 .descripcion p {
  margin-left: 15px;
  margin-right: 15px;
}

.tarjetas {
  margin: 3 rem;
  border: 3 px solid purple;
  margin-left: 15px;
  margin-right: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 100%;
}
.tarjetas .tarjeta {
  background-color: pink;
  padding: 1rem;
  border: 3px solip purple;
  width: 100%;
  text-align: center;
}
.tarjetas .tarjeta img {
  width: 50%;
}

.carousel-item {
  max-height: 75vh;
}

.formulario ul {
  list-style: none;
}
.formulario ul .formulario li {
  margin: 30px 0;
  padding: 15px;
}
.formulario ul .btn {
  padding: 10px;
  gap: 1rem;
  margin-left: 15px;
}

@media (max-width: 480px) {
  .li a {
    color: rgb(245, 52, 171);
  }
}/*# sourceMappingURL=style.css.map */