* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Luina {
  text-align: center;
  margin-bottom: 30px;
}

.rotate-center {
  animation: rotate-center 0.6s ease-in-out both;
}
@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.nav ul {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
}
.nav ul li {
  list-style-type: none;
  /*margin: 0px 50px 0px 50px;*/
}
.nav ul li a {
  text-decoration: none;
  color: purple;
  font-weight: bold;
}

.main {
  text-align: center;
  margin-top: 40px;
  width: 100vw;
}
.main img {
  width: 90%;
  height: 600px;
}

.titulo h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: palevioletred;
  color: white;
}

.productos {
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.postre {
  width: 33%;
  max-width: 30vw;
  height: auto;
}

.postre img {
  width: 100%;
  height: auto;
}

.postre:hover {
  transform: scale(1.05);
}

.postre p {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: palevioletred;
  color: white;
}

.titulo h2 {
  font-family: Arial, Helvetica, sans-serif !important;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: palevioletred;
  color: white;
}

.footer {
  background-color: purple;
  padding: 40px 0;
  margin-top: 20px;
}
.footer .footer-column {
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 0 15%;
}
.footer .footer-links {
  padding: 0 15px;
}
.footer .footer-links a:hover {
  text-decoration: underline;
}
.footer .footer-links li {
  list-style-type: none;
}
.footer .footer-links h2 {
  font-size: medium;
  color: white;
  margin-bottom: 25px;
  font-weight: 500;
  border-bottom: 2px white;
  padding-bottom: 10px;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.footer .footer-links a {
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.footer .fa-facebook {
  width: 100px;
  height: 100px;
}

.luina-nosotros h2 {
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px 0 20px 10px;
}

.descripcion p {
  margin-left: 15px;
  margin-right: 15px;
}

.tarjetas {
  margin: 3 rem;
  border: 3 px solid purple;
  margin-left: 15px;
  margin-right: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 100%;
}
.tarjetas .tarjeta {
  background-color: pink;
  padding: 1rem;
  border: 3px solid purple;
  width: 100%;
  text-align: center;
}
.tarjetas .tarjeta img {
  width: 50%;
}

.carousel-item {
  max-height: 75vh;
}

.nav {
  --bs-nav-link-padding-x: 1rem;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color:
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  justify-content: space-around;
  flex-direction: column;
}

.formulario {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}
.formulario .contenedor-botones {
  display: flex;
}
.formulario .contenedor-botones .boton {
  margin-top: 10px;
  width: 20%;
  margin-right: 10px;
}

@media (max-width: 480px) {
  .nav ul {
    font-size: medium;
  }
  .nav ul li a {
    color: rgb(245, 52, 171);
  }
  .tarjetas {
    grid-template-columns: 1fr 1fr;
  }
  .main img {
    height: auto;
  }
}/*# sourceMappingURL=style.css.map */