.carousel-item {
    max-height: 75vh
}


.nav {

    --bs-nav-link-padding-x: 1rem;
--bs-nav-link-padding-y: 0.5rem;
--bs-nav-link-font-weight: ;
--bs-nav-link-color:
display: flex;
flex-wrap: wrap;
padding-left: 0;
margin-bottom: 0;
list-style: none;
justify-content: space-around;
flex-direction: column;

}

