.formulario {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;

    .contenedor-botones{
        display: flex;

        .boton {
            margin-top: 10px;
            width: 20%;
            margin-right: 10px;
    
        }
    }

}

