.formulario ul{
    list-style: none;

    .formulario li {

        margin: 30px 0 ; 
        padding: 15px;
     
     }
          
     
     .btn {
         padding: 10px;
         gap: 1rem;
         margin-left: 15px;
     }

}