@media (max-width: 480px) {
    .nav ul {
        font-size: medium;
        li a {
        color: rgb(245, 52, 171);

        }
    }

    .tarjetas{
        grid-template-columns: 1fr 1fr;
    }

    .main img{
        height: auto;
    }

}

