.nav ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
   
    li {
        list-style-type: none;
        /*margin: 0px 50px 0px 50px;*/
    

        a {
        text-decoration: none;
        color: $colorViolet;
        font-weight: bold;
        }
    }
}
